<!DOCTYPE html>
<html>
  <head>
    <title>Rails5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- 모든 페이지에서 사용되는 글로벌 메뉴 -->
    <div id="global-header">
      <div class="container">
        <div class="logo">My Profile</div>
        <ul class="menu">
          <a href="/">
            <li class="item">Home</li>
          </a>
          <!-- <a href="/contact"> -->
          <!-- <a href="/contacts/new"> -->
          <%= link_to new_contact_path do %>
            <li class="item">Contact</li>
          <!-- </a> -->
          <% end %>
          <% if user_signed_in? %>
            <li class="item"><%= current_user.name %></li> <!-- view에서 모델을 호출하는 코드는 좋지 않다. -->
            <li class="item"><%= link_to 'Sign out', session_path(current_user), method: 'delete' %></li>
            <% if current_user.admin %>
              <li class="item"><%= link_to 'Contacts List', contacts_path %></li>
            <% end %>
          <% else %>
            <li class="item"><%= link_to 'Sign in', new_session_path %></li>
            <li class="item"><%= link_to 'Sign up', new_user_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="wrapper">
      <%= flash[:alert] %>
      <%= yield %>
    </div>

  </body>
</html>
